//__________text
$white-text: #FDFDFD;
$grey-text: #6F7583;
$blue-dark-text: #292F42;
$blue-light-text: rgba(41, 47, 66, 0.25);
$green-text: #86BE26;

//__________background
$white-bg: #fdfdfd; 
$grey-light-bg: #E5E5E5;
$blue-dark-bg: #292F42;
$green-bg: #86BE26;

//__________border
$blue-dark-brdr: #292F42;
$blue-dark-opacity-brdr: rgba(41,47,66,0.05);

//__________hover,focus,active
$green-bg-hover: #7ab11c;

//__________breakpoint
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;

//__________retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

